<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Url:</b>
  <%= @story.url %>
</p>

<p>
  <b>Teaser:</b>
  <%= @story.teaser %>
</p>

<p>
  <b>User:</b>
  <%= @story.user_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
